.dashBoard {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 25px;
}

.dashBoard > div.header {
  height: 50px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

.dashBoard > div.header > div:nth-child(1) > p {
  font-size: 12px;
}

.dashBoard > div.header > div:nth-child(2) > svg {
  cursor: pointer;
  margin: 5px;
  padding: 3px;
}

.distribution {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 15px;
  position: relative;
  width: 95%;
  margin: 25px auto;
}

.distribution > div.map {
  position: relative;
  height: 500px;
}

.distribution > div.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}

.distribution > div.header > div:nth-child(1) > p {
  font-size: 12px;
}

.distribution > div.header > div:nth-child(2) > svg {
  margin: 5px;
  cursor: pointer;
}

.mapConfig {
  margin-top: 20px;
}

.mapConfig > div {
  padding: 10px 15px;
  text-transform: uppercase;
}

.mapConfig > div > label > span {
  font-size: 12px;
}

.filter > small {
  font-size: 11px;
}

.districtData {
  display: flex;
}

.districtData > .distributors {
  display: flex;
  flex-direction: column;
  flex: 0 0 30%;
  max-width: 30%;
  max-height: 700px;
  overflow-y: auto;
}

.districtData > .distributors > div {
  padding: 5px;
  border-bottom: 1px solid grey;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
}

.districtData > .distributors > div:hover {
  background: rgb(196, 196, 196);
}

.distData {
  max-height: 700px;
  padding: 10px;
  width: 100%;
  max-height: 700px;
  overflow-y: auto;
}

.distsSales {
  width: 100%;
  margin-top: 15px;
}

.citySelection {
  display: flex;
  width: 100%;
  overflow-x: auto;
}

.citySelection > button {
  margin: 0 2px;
  min-width: 200px;
}

.citySelection > button:disabled {
  background: grey;
}

.basicData {
  display: flex;
  flex-wrap: wrap;
}

.basicData > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  flex-direction: column;
  width: 150px;
  height: 50px;
  padding: 5px;
  margin: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
}

.basicData > div > span,
.basicData > div > h6 {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
}

.prescriptions {
  margin-top: 15px;
}

.prescriptions > div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  max-height: 400px;
  justify-content: center;
  overflow-y: auto;
}

.prescriptions > div > div {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 260px;
  margin: 4px;
  padding: 10px;
  position: relative;
  height: 150px;
}

.prescriptions > div > div > p {
  font-size: 14px;
  margin-top: 7px;
}

.prescriptions > div > div > div {
  display: flex;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 0 5px;
}

.prescriptions > div > div > div > button:nth-child(1) {
  background: rgb(168, 48, 48);
}

.prescriptions > div > div > div > button:nth-child(2) {
  background: rgb(71, 155, 32);
}

.byPerformance {
  display: flex;
  margin-top: 15px;
}

.byPerformance > div {
  flex: 0 0 50%;
}

.byPerformance > div > h5 {
  font-size: 14px;
}

.byPerformance > div > div > div {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 95%;
  margin-bottom: 5px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.byPerformance > div > div > div > h5 {
  font-size: 14px;
}

.dist {
  padding: 10px 20px;
}

.dist > div {
  width: 100%;
  margin-top: 30px;
  height: 300px;
}
