.distribution {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 15px;
  position: relative;
  width: 95%;
  margin: 25px auto;
}

.prescriptions {
  margin-top: 15px;
}

.prescriptions > div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  max-height: 400px;
  justify-content: center;
  overflow-y: auto;
}

.prescriptions > div > div {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 260px;
  margin: 4px;
  padding: 10px;
  position: relative;
  height: 150px;
}

.prescriptions > div > div > p {
  font-size: 14px;
  margin-top: 7px;
}

.prescriptions > div > div > div {
  display: flex;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 0 5px;
}

.prescriptions > div > div > div > button:nth-child(1) {
  background: rgb(168, 48, 48);
}

.prescriptions > div > div > div > button:nth-child(2) {
  background: rgb(71, 155, 32);
}
